{
  "project_info": {
    "project_number": "386477898546",
    "project_id": "mangatrack-a56da",
    "storage_bucket": "mangatrack-a56da.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:386477898546:android:REPLACE_WITH_ANDROID_APP_ID",
        "android_client_info": {
          "package_name": "com.mangatrack.app"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "REPLACE_WITH_ANDROID_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
